# Virtual environment
venv/

# Environment variables
.env

# Chroma vector database
vectordb/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db